box2d-py==2.3.8
gym==0.25.2
ipdb==0.13.9
ipython==7.34.0
matplotlib==3.5.3
moviepy==1.0.3
mujoco==2.2.0
numpy==1.23.5
opencv-python==4.6.0.66
pyvirtualdisplay==3.0
swig==4.0.2
tensorboard==2.10.0
tensorboardX==2.5.1
torch==1.12.1
